.header {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #002642;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #2274A5;
}

.headerTitle {
    color: #fff;
    font-size: 45px;
    padding: 15px;
    font-family: Spaceship;
}

.headerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 25px;
}